.env
.env.backup
.env.production
.phpunit.result.cache
/.fleet
/.idea
/.vscode
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/app/
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
.phpunit.cache/
npm-debug.log
yarn-error.log
docker-compose.override.yml
*.swp
*.swo
/storage/coverage/
